.directions{
    margin-left: 7rem;
    margin-right: 20rem;


}

.direction-step{
    margin-left: 2rem;
    margin-bottom: 8rem;
}

.direction-step img{
    width: 800px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 2rem;
    margin-bottom: 2rem

}

@media (max-width: 768px) {

    .directions {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-top: 5rem;
    }

    .direction-step {
        margin-left: 0;
        margin-bottom: 3rem;
    }

    .direction-step img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}